.Cyenna {
    color: #9831D3;
    font-family: 'Ceviche One', cursive;
}
img {
    height: 200px;
    width:  340px;
    Background-color: #46B4D7;
}
.Student {
    Color: blue
       ;
    font-family: 'fruktur', cursive;
}
